<section class="about">
  <div class="container about-container">
    <ul class="about-foto-list">
      <li class="about-foto-item">
        <picture>
          <source
            srcset="
              ./img/desktop-about-img1.jpg    1x,
              ./img/desktop-about-img1@2x.jpg 2x
            "
            media="(min-width: 1202px)"
          />
          <source
            srcset="
              ./img/tablet-about-img1.jpg    1x,
              ./img/tablet-about-img1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/desktop-about-img1.jpg" alt="Shaving the beard" />
        </picture>
      </li>
      <li class="about-foto-item">
        <picture>
          <source
            srcset="
              ./img/desktop-about-img2.jpg    1x,
              ./img/desktop-about-img2@2x.jpg 2x
            "
            media="(min-width: 1202px)"
          />
          <source
            srcset="
              ./img/tablet-about-img2.jpg    1x,
              ./img/tablet-about-img2@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img src="./img/desktop-about-img2.jpg" alt="Beard trimming" />
        </picture>
      </li>
    </ul>
    <div class="about-inform-text">
      <div class="about-line-text-wrapp">
        <div class="about-line"></div>
        <p class="about-text current">About</p>
      </div>
      <h2 class="about-title">Best Barbershop in your city</h2>
      <p class="about-paragraph-one">
        If you want to add more confidence to your image, you should visit us
      </p>
      <p class="about-paragraph-two">
        We are a team that never stops at what has been achieved and are thirsty
        for changes. And when you fall into the hands of our master, you will
        never be the same again. We are a team that is always "on the same wave"
        with clients. Therefore, we are always ready to improve everyone who
        comes to us!
      </p>
      <button class="about-btn" type="button">online-booking</button>
    </div>
  </div>
</section>
================
