<section class="benefits">
  <div class="container benefits-container">
    <div class="benefits-line-text-wrapp">
      <div class="benefits-line"></div>
      <p class="benefits-text">Old traditional school</p>
    </div>
    <h2 class="benefits-title">¿Why people come to us?</h2>
    <p class="benefits-paragraph">
      Only good things are said about us. But it's better to see and feel 1 time
      than read 10 times.
    </p>
    <ul class="benefits-list-left">
      <li>
        <p>600 <sup class="sup-color-text">+</sup></p>
        <p>Satisfied customers per day</p>
      </li>
      <li>
        <p>20 <sup>+</sup></p>
        <p>Kyiv’s best barbers</p>
      </li>
    </ul>
    <ul class="benefits-list-right">
      <li>
        <p>50 <sup>+</sup></p>
        <p>Awards for excellent service</p>
      </li>
      <li>
        <p>100 <sup>+</sup></p>
        <p>Gifts for regular customers</p>
      </li>
    </ul>
  </div>
</section>
