<section class="benefits">
  <div class="container benefits-container">
    <p class="benefits-text">Old traditional school</p>
    <h2 class="benefits-title">¿Why people come to us?</h2>
    <p class="benefits-paragraph">
      Only good things are said about us. But it's better to see and feel 1 time
      than read 10 times.
    </p>
    <div class="benefits-list-wrapp">
      <ul class="benefits-list-left">
        <li class="benefits-list-left-item">
          <p class="benefits-list-left-text-one">
            600 <sup class="sup-color-text">+</sup>
          </p>
          <p class="benefits-list-left-text-two">Satisfied customers per day</p>
        </li>
        <li class="benefits-list-left-item">
          <p class="benefits-list-left-text-one">
            20 <sup class="sup-color-text">+</sup>
          </p>
          <p class="benefits-list-left-text-two">Kyiv’s best barbers</p>
        </li>
      </ul>
      <ul class="benefits-list-right">
        <li class="benefits-list-right-item">
          <p class="benefits-list-right-text-one">
            50 <sup class="sup-color-text">+</sup>
          </p>
          <p class="benefits-list-right-text-two">
            Awards for excellent service
          </p>
        </li>
        <li class="benefits-list-right-item">
          <p class="benefits-list-right-text-one">
            100 <sup class="sup-color-text">+</sup>
          </p>
          <p class="benefits-list-right-text-two">
            Gifts for regular customers
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
