<header class="header">
  <div class="container">
    <div class="header-sidebar">
      <a class="header-logo" href="">
        <svg class="icon" width="69" height="56">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-sidebar-social-meadia-list">
        <li class="header-sidebar-social-meadia-list-item">
          <a class="header-sidebar-social-meadia-list-item-link" href="">
            Instagram
          </a>
        </li>
        <li class="header-sidebar-social-meadia-list-item">
          <a class="header-sidebar-social-meadia-list-item-link" href="">
            Youtube
          </a>
        </li>
      </ul>
    </div>
    <div class="header-content-wrapper">
      <div class="header-nav-address-container">
        <a class="header-mobile-logo" href="">
          <svg class="icon" width="69" height="56">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-list-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-link" href="">Services and Prices</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-link" href="">Barbers</a>
            </li>
            <li class="nav-list-item">
              <a class="nav-link" href="">Contacts</a>
            </li>
          </ul>
        </nav>
        <address class="address">
          <ul class="address-list">
            <li class="address-list-item">
              <a class="address-link" href="tel:+380441111111">
                +38 044 111 11 11
              </a>
            </li>
            <li class="address-list-item">
              <a class="booking-link" href="">Online-booking</a>
            </li>
          </ul>
        </address>
        <button class="mobile-menu-btn" type="button">
          <svg class="icon" width="24" height="26">
            <use href="./img/icons.svg#icon-menu"></use>
          </svg>
        </button>
      </div>
      <div class="header-text-content">
        <p class="header-pretitle-text">A hair salon for men in Kyiv</p>
        <h1 class="header-title">BarberShop</h1>
        <p class="header-text">
          We are experts in trendy men’s haircuts. We work quickly, carefully
          and with style.
        </p>
      </div>
      <div class="header-slide-control">
        <button type="button" class="header-slide-control-button back">
          Back
        </button>
        <button type="button" class="header-slide-control-button forward">
          Forward
        </button>
      </div>
    </div>
  </div>
</header>
